---
import Layout from '../layouts/Layout.astro';
import Ticker from '../components/Ticker.jsx';
---

<Layout title="Portfolio - Olivier Recher">

	<!-- <div class="column-blur absolute top-0 left-0 border-2 h-screen w-20 bg-red-500">Hello</div> -->
	<Ticker client:only />
</Layout>

<style>
</style>
