---
import Layout from "../layouts/Layout.astro";
import Ticker from "../components/Ticker.jsx";
---

<Layout title="Portfolio - Olivier Recher">
  <div class="relative sm:mt-[10%] mt-[50%] text-[#07042f] dark:text-white dark:opacity-80">
    <h4 class="text-center sm:text-xl text-md font-semibold">
      Hello ! I am <span class="text-[#6200ee] dark:text-[#bb86FC]"
        >Olivier</span
      >,
    </h4>
    <h1 class="text-center text-6xl sm:text-9xl font-bold">Full-stack</h1>
    <h1
      class="text-center text-6xl sm:text-9xl font-bold text-[#6200ee] dark:text-[#bb86FC]"
    >
      Developper
    </h1>
    <Ticker client:only />
  </div>
</Layout>

<style></style>
